*.iml
/RestaurantApp/.gradle
/RestaurantApp/local.properties
/RestaurantApp/.idea/workspace.xml
/RestaurantApp/.idea/libraries
.DS_Store
/RestaurantApp/build
/RestaurantApp/captures
/RestaurantApp/app/build
/RestaurantApp/.externalNativeBuild
